{% extends "finanzasapp/base.html" %}

{% load static %}

{% block content %}

<section class="page-section about-heading">
    <div>

     </div>
    <div class="container">

        <p>
             Planificar tu libertad financiera y lograr una vida  libre de deudas, es un proyecto que fue creado por 
en nuestra familia  que nos  cansamos de vivir en el ciclo de las deudas  o mejor dicho de sobreviviri y decidimos aplicar en nuestra vida las teorias de la libertad  financiera,  estudiando estas teorias descubrimos  que muchas de las cosas que alli se enseñan
son practicamente imposibles de aplicar por dos motivos: </p>

El primero  porque deben ser adapatadas a la realidad latino americana </p>

El  segundo  porque para que funcione se debe estar libre de deudas.</p>

 
Yo  Danny Ramirez  spy administrador y programador y mi esposa  Shedymar Gonzalez abogada y trafiker de redes sociales, llegamos a la Argentina procedentes de Venezuela en 2015, 
aqui comenzamos a trabajar,enfrentandonos por primera vez a concepto nuevos,  pagar alquiler, trabajar en negro,la escases de  dinero y de tiempo libre, la situacion nos llevo a caer en el ciclo de las deudas que a  pesar de cambiar de trabajo y ganar mas, seguiamos  atrapados 
completamente endeudados.</p>

 Cuando nos vimos ahogados, dedicimos, comenzar a estudiar el tema de la libertad financiera despues de estudiar a los gurus de libertad financiera, nos dimos cuenta que si queriamos retirarnos  y construir insgresos pasivos, necesitabamos  planificarnos  y organizarnos para lograr estar libre de deudas.</p>


Aplicando la metodologia nos llevo un año lograr limpiar las tarjetas y dejarlas en cero, pagar creditos bancarios, una vez logrado comenzamos  a trabajar en la construccion de nuestros  ingresos pasivos, con la finalidad
de retirarnos  pronto  de nuestros trabajos en relacion dependencia y vivir comodamente .</p>

la metodologia que usamos es completamente aplicable a cualquier persona, si te llama la atencion puedes suscribuirte a nuestro Newsletter, para recibir articulos, consejos, estrategias <a href="{% url 'login' %}">aquí</a></p>

tambien recibiras la oferta especial para nuestro  curso  de planificacion de finanzas que saldra en septiembre   </p>





      
        <!--<table>
            <tr>
                <th> <img src="{% static 'finanzasapp/assets/img/foto danny.jpg'%}"  width="150"</th>
            </tr>
            <tr>
                <th> Nombre:  Danny Ramirez</th>
            </tr>
            <tr>
                <th> Especialista en Presupuesto y  Planificacion Financiera</th>
            </tr>
            <tr>
                <th><p></p></th>
            </tr>
            <tr>
                <th>
                    <p>Como Administrador de Empresas llevo diecinieve años trabajando en la planificacion financiera, tanto de empresas como de personas, simepre con un objetivo, buscar la libertad
                desde mi optica las empresas y las personas e parecen mucho, tienen ingresos, tienen gaston, tiene otras personas que dependen de las deciciones que se tomen, ambas pueden crecery tener exito
                y ambas se pueden ir a la quiebra.</p>

                <p>Por lo que desde mis inicios me dedique a estudiar a los grandes gurus d ela libertad financiera y sus ideas, descubriendo que su aplicacion en nuestro entorno es muy dificil, asi que luego de mucho probar
                cosntrui un metodo que aplique en mi mismo para construir la libertad financiera.</p>

                <p>el metodo es sencillo consta de tres pasos importantes:</p>
                .- Establecer claramente cuales son nuestros ingresos</p>
                .- Conocer todos nuestros gastos y dividirlos en: Gastos fijos, deudas y otros gastos</p>
                .- distribuir nuestros ingresos teniendo como prioridad los gastos fijos y deudas.

                con este sencillo metodo, logramos algo que casi todos consideran imposible, salir de deudas.</p>
                
                
                Una vez que conoces tu situacion puedes establecer un procesos en el cual te liberes de las deudas y todo eso que se va por esa via
                se convierte en dinero libre para invertir y crear ingresos pasivos, lo que lleva a la libertad financiera que todos soñamos.</p>
                
                </th>
            </tr>
            <tr>
                <th>
                    <p>
                        Redes sociales : </p>
                <div>
                     <a href="https://www.instagram.com/asesoria_pyme/"><img src="{% static 'finanzasapp/assets/iconos/instagram.png'%}" width="50"></a>
                       <a href="https://www.facebook.com/Asesopyme"><img src="{% static 'finanzasapp/assets/iconos/facebook.png'%}" width="50"></a>

                </div>
                   

                </th>
            </tr>


        </table>-->



        </div>
    </div>
</section>

{% endblock %}