{% extends "finanzasapp/base.html" %}

{% load static %}

{% block content %}

<section>
<p> En este espacio te puedes registrar para recibir nuestro newslatter, ademas tendras acceso a descuentos especiales para nuestro curso de planificacion y
    recibiras ebook de regalo de bienvenida
</p>
</div>
              <form>

                   <div>

                  <p> Nombre y Apeliido <input> </p>
                  <p>Correo Electronico <input></p>
                  <p> <label class="label-checkbox100" for="ckb1"></label>Aceptas recibir nuestra newslater y los aviso de descuentos y promociones de cursos</p>
               
                  <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                           Enviar
                        </button>
                    </div>

                    
                </div>
            </form>
          
            <p></p>
        </section>
 


{% endblock %}